    <%- include('components/head', {pageTitle: 'Home'}) %>
    <link rel="stylesheet" href="static/styles/navigation.css">
    <link rel="stylesheet" href="static/styles/blog.css">
</head>
<body>
    <div class="container">
        <%- include('components/nav-bar') %>
        <div class="blog-lists">
            <% for(const blog of blogs) { %>
                <div class="blog-card">
                    <h2 class="blog-title">
                        <%= blog.title %>
                    </h2>
                    <p class="blog-date"><%= new Date(blog.createdDate).toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" }) %></p>
                    <p class="blog-preview-text"><%= blog.description %></p>
                </div>
            <% } %>
            <!-- <div class="blog-card">
                <h2 class="blog-title">
                    How to build a blog with backend with node.js
                </h2>
                <p class="blog-date">5, Sep, 2022</p>
                <p class="blog-preview-text">Here we used Node.js with the express framework to help us build up a blog website, and a restful API interface for the frontend...</p>
            </div> -->
        </div>
        <%- include('components/footer-animated-sea.ejs') %>
    </div>
</body>
</html>